<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudrider.semicolon">

    <application
        android:name=".CloudriderApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DeployCodeChainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".OrgSelectActivity" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>