<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
                  <div class="dropdown">
                      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Consortiums
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li *ngFor="let con of consortiums">
                              <a href="#">{{ con }}</a>
                           </li>                      
                      </ul>
                  </div>
          </div>
      </div>
      <div class="row">
         <!-- <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Organization1</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Organization 2</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-success">Organization 3</a>
                </div>
              </div>
            </div>-->

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Organizations</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Organisation Name
                                    </th>
                                    <th>
                                        Consortium Name
                                    </th>
                                    <th>
                                        Domain Name
                                    </th>
                                    <th>
                                        Orderer Name
                                    </th>
                                    <th>
                                        Network Name
                                    </th>
                                    </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                      
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        
                                    </tr>
                                      <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
      </div>
  </div>
</div>